/* * {
  box-sizing: border-box;
  max-width: 2560px;
}
@media screen and (min-width: 1024px) {
  .col {
    flex-basis: 33.3%;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
  }
  .footer-content{
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-left: 20px;
    padding: 0 10px;
  }
}
@media (max-width: 1024px) and (min-width: 540px) {
  .col {
    flex-basis: 50%;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    margin: 0;
  }
  .footer-content{
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-left: 20px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 540px) {
  .col {
    flex-basis: 50%;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 50%;
    margin: 0;
  }
  .footer-content{
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-right: 80px;
    margin-left: 20px;
    padding: 0 10px;
  }
} */
