* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
  }
.footer-container{
  position: relative;
}
.haut{
  font-weight: bold;
  color: #EEE;
}
.haut:hover{
  background-color:#298eff;
}