* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
  }
.nav-link-item{
    text-decoration: none;
    color:grey;
    margin-right: 20px;
}
.nav-link-item:hover{
    color: rgba(255, 255, 255, 0.8);
}
