* {
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
  }
.services.active{
  color: #0d6efd;
}
.supplement{
  border-bottom: solid #0d6efd 3px;
  line-height: 2;
  font-weight: bold;
  width: 900px;
}
.services-container{
  margin: auto;
  padding: 0;
}
@media (min-width: 1024px) {
  .banners {
    background-image: url(../assets/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }
}
@media (max-width: 1024px) and (min-width: 540px) {
  .banners {
  background-image: url(../assets/banner-tablette.jpg);
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: 100%;
  position: relative;
  }
}
@media (max-width: 540px) {
.banners {
  background-image: url(../assets/banner-mobile.jpg);
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: 100%;
  position: relative;
  }
}
.card-img-top-services:hover{
  background-color: #cde1f8;
}