*{
  box-sizing: border-box;
}
.bi-github, .bi-twitter-x, .bi-linkedin {
  color: #000000;
  font-size: 2em;
}
.bi-chevron-right{
  color: #0d6efd;
  text-decoration: none;
}
hr {
  background-size: 4px; 
  border-top: 4px solid #0d6efd;
  border-color: #0d6efd;
  opacity: 1;
}
a{
  text-decoration: none;
}